div#calculator-screen {
    background-color: gainsboro;
    width: 125px;
}

div#calculator-body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 125px;
    align-items: center;
}

button#calc-button {
    background-color: white;
    width: 29px;
}