div#container {
    display: flex; 
    justify-content: center;
    align-content: center;
    margin-top: 50mm;
}

div#calculator-screen {
    background-color: gainsboro;
    width: 295px;
    height: 45px;
    margin: 25px;
    padding: 10px;

    border: solid gray 3px;
    border-bottom: solid white 3px;
    border-right: solid white 3px;
    border-radius: 5px;

    font-size: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-wrap: nowrap;
    text-justify: center;
    
}

div#calculator-body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    align-items: center;
    border-radius: 20px;
    border: solid darkgray 5px;
    border-bottom: ridge gray 12px;
    border-right: ridge gray 12px;
}

div#calculator-row {
    margin-bottom: 15px;
}

div#calculator-row button {
    width: 75px;
    height: 65px;
    border-radius: 10px;

    font-size: 2em;
}

button#num-button {
    background-color: lightblue;
    border-top: solid lightcyan 2px;
    border-left: solid lightcyan 2px;
    border-bottom: solid rgb(114, 163, 172) 5px;
    border-right: solid rgb(114, 163, 172) 5px;
}

button#num-button:active {
    border-top: solid rgb(114, 163, 172) 2px;
    border-left: solid rgb(114, 163, 172) 2px;
    background-color: rgb(134, 188, 197);
}

button#operator-button {
    background-color: orange;
    border-top: solid rgb(255, 215, 141) 2px;
    border-left: solid rgb(255, 215, 141) 2px;
    border-bottom: solid rgb(204, 126, 24) 5px;
    border-right: solid rgb(204, 126, 24) 5px;
}

button#operator-button:focus {
    background-color: rgb(211, 141, 49);
    border-top: solid rgb(204, 126, 24) 2px;
    border-left: solid rgb(204, 126, 24) 2px;
}

button.misc {
    background-color: rgb(230, 230, 230);
    border-top: solid white 2px;
    border-left: solid white 2px;
    border-bottom: solid gray 5px;
    border-right: solid gray 5px;
}

button.misc:active {
    background-color: rgb(145, 145, 145);
    border-top: solid gray 2px;
    border-left: solid gray 2px;
}
